<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork23619267-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Hands-on Lab: Creating and Querying Database Objects from R</h1>

<br>

### Welcome!

In this hands-on lab, we will create and query database objects from an R notebook in Jupyter, and use ggplot2 to plot the data using R libraries.

<div class="alert alert-block alert-info" style="margin-top: 20px">
<h3>Tasks</h3>
<ol><ol><ol>
<li><a href="https://#ref4a">Pre-requisites & Dataset</a></li>
<li><a href="https://#ref4b">Load RSQLite</a></li>
<li><a href="https://#ref4c">Create a database connection</a></li>
<li><a href="https://#ref4f">Create the tables</a></li>
<li><a href="https://#ref4g">Load data into the database</a></li>
<li><a href="https://#ref4h">Fetch data from the database</a></li>
<li><a href="https://#ref4i">Plot the data (using ggplot2)</a></li>
</ol></ol></ol>
<br>
Estimated Time Needed: <strong>30 min</strong>
</div>

<a id="ref4a"></a>

### A. Pre-requisites & Dataset

**Pre-requisite**: In this lab we will use Jupyter Notebooks within SN Labs to access data using RSQLite.  Information about Jupyter notebooks, SN Labs.

**Dataset used in this lab**: For this lab we will utilize the Ontario public schools enrollment dataset. This data set is available under the Open Government License – Ontario and sourced from: [https://www.ontario.ca/data/ontario-public-schools-enrolment](https://www.ontario.ca/data/ontario-public-schools-enrolment?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork23619267-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork-23619267&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

For simplicity we have already split it into two separate files: [board.csv](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork/labs/Lab%20-%20Creating%20and%20Querying%20Database%20Objects%20from%20R/board.csv) and [school.csv](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork/labs/Lab%20-%20Creating%20and%20Querying%20Database%20Objects%20from%20R/school.csv).

<a id="ref4b"></a>

### B. Load RSQLite

Let’s load the RSQLite package by clicking on the following cell and executing it (Shift+Enter):

In [ ]:
install.packages("RSQLite")
library("RSQLite")

<a id="ref4c"></a>

### C. Create a database connection

In [ ]:
conn <- dbConnect(RSQLite::SQLite(),"Querying_DatabaseDB.sqlite")

<h4>Let’s create the BOARD table in the database.</h4>

In [ ]:
df1 <- dbExecute(conn, "CREATE TABLE BOARD (
                            B_ID CHAR(6) NOT NULL, 
                            B_NAME VARCHAR(75) NOT NULL, 
                            TYPE VARCHAR(50) NOT NULL, 
                            LANGUAGE VARCHAR(50), 
                            PRIMARY KEY (B_ID))", 
                errors=FALSE)

<h4>Now let’s create the SCHOOL table with column details as:</br></br> B_ID CHAR, S_ID CHAR, S_NAME VARCHAR, LEVEL VARCHAR, ENROLLMENT INTEGER and B_ID, S_ID will be the primary key.</h4>

In [ ]:
# write your solution here.

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
df2 <- dbExecute(conn, "CREATE TABLE SCHOOL (
                  B_ID CHAR(6) NOT NULL, 
                  S_ID CHAR(6) NOT NULL, 
                  S_NAME VARCHAR(100), 
                  LEVEL VARCHAR(70), 
                  ENROLLMENT INTEGER WITH DEFAULT 10,
                  PRIMARY KEY (B_ID, S_ID))", errors=FALSE) 
```

</details>

<a id="ref4g"></a>

### D. Load the data into the database

Fetch the tables present in the current database schema.

In [ ]:
schooldf <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork/data/school.csv')
boarddf <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork/data/board.csv')

head(schooldf)
head(boarddf

In [ ]:
dbWriteTable(conn, "SCHOOL", schooldf, overwrite=TRUE, header = TRUE)

In [ ]:
# Use dbWriteTable function to write the csv into created table name BOARD.

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
dbWriteTable(conn, "BOARD", boarddf, overwrite=TRUE, header = TRUE)
```

</details>

### Check list of tables in the present database

In [ ]:
dbListTables(conn)

### Print details for the tables BOARD and SCHOOL

In [ ]:
tables1 = dbListTables(conn)
for (table in tables1){  
        cat ("\nColumn info for table", table, ":\n")
        col.detail <- dbColumnInfo(dbSendQuery(conn,paste( "select * from",table)))
        print(col.detail)
}

Display initial data from the BOARD dataframe.

In [ ]:
dbGetQuery(conn, 'SELECT * FROM BOARD limit 5')

Display some records from the beginning of the SCHOOL dataframe.

In [ ]:
# write your solution here.

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
dbGetQuery(conn, 'SELECT * FROM  SCHOOL limit 5')
```

</details>

<a id="ref4h"></a>

### H. Fetch data from the database

Fetch the data from the database table BOARD and display some rows from the end of the data.

In [ ]:
boarddb <- dbGetQuery(conn, 'SELECT * FROM BOARD limit 5')
tail(boarddb)

Fetch the data from the database table SCHOOL and and display some rows from the end of the data.

In [ ]:
# write your solution here.

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
schooldb <- dbGetQuery(conn, 'SELECT * FROM  SCHOOL limit 5')
tail(schooldb)
```

</details>

<a id="ref4i"></a>

### I. Plot the data (using ggplot2)

In [ ]:
library(ggplot2);

<h4>Get the elementary school data from the database from both tables in descending sequence.</h4>

In [ ]:
elequery <- paste("select ENROLLMENT 
from SCHOOL s, BOARD b 
where b.B_NAME = 'Toronto DSB' and b.B_ID=s.B_ID 
and s.LEVEL = 'Elementary' 
order by ENROLLMENT desc")

<h4>Create the elementary school dataframe.</h4>

In [ ]:
eledf <- dbGetQuery(conn, elequery)
dim(eledf)

<h4>Create a density plot of elementary school enrollments.</h4>

In [ ]:
qplot(ENROLLMENT, data=eledf, geom="density",  main="TDSB School Size - Elementary")

<h4>Create the secondary school enrollments query in descending sequence.</h4>

In [ ]:
# write your solution here.

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
# Fill in the ...
sec... <- paste("... s.enrollment as ... 
from ... s, board b 
where b.b_... = 'Toronto ...' and b.b_id=s.... 
and s.... = 'Secondary' 
order by ... desc")
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
secquery <- paste("select s.ENROLLMENT 
from SCHOOL s, BOARD b 
where b.B_NAME = 'Toronto DSB' and b.B_ID=s.B_ID
and s.LEVEL = 'Secondary' 
order by ENROLLMENT desc")
```

</details>

<h4>Create the dataframe using the data in the database.</h4>

In [ ]:
# write your solution here.

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
# Fill in the ...
secdf <- dbGet...(conn, sec...)
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
secdf <- dbGetQuery(conn, secquery)
```

</details>

<h4>Create a density plot of secondary school enrollments.</h4>

In [ ]:
# write your solution here.

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
# Fill in the ...
q...(ENROLLMENT, ...=secdf, ...="density", ...="TDSB School Size - ...")
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
qplot(ENROLLMENT, data=secdf, geom="density", main="TDSB School Size - Secondary")
```

</details>

<h4>Query the BOARD database for enrollments.</h4>

In [ ]:
# write your solution here.

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
# Fill in the ...
den... <- paste("select b.b_..., s.s_..., level as ..., ... 
 from board b, ... s where b.... = s.b_id and b.b_... = 'Toronto DSB'")
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
denquery <- paste("select b.B_NAME, s.S_NAME, LEVEL , ENROLLMENT 
 from BOARD b, SCHOOL s where b.B_ID = s.B_ID and b.B_NAME = 'Toronto DSB'")
```

</details>

<h4>Query the database.</h4>

In [ ]:
# write your solution here.

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
# Fill in the ...
d...f <- dbGet...(conn, den...)
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
dendf <- dbGetQuery(conn, denquery)
```

</details>

Create a box plot of enrollements in elementary and secondary schools in Toronto.

In [ ]:
# write your solution here

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
dendf$LEVEL <- as.factor(dendf$LEVEL)
boxplot(ENROLLMENT ~ LEVEL, dendf, names =c("Secondary","Elementary"), main="Toronto DSB")
```

</details>

<a id="ref4o"></a>

### Summary

In this lab you created and queried database objects from an R notebook in Jupyter, and you used ggplot2 to plot the data using R libraries.

<hr>

#### Thank you for completing this module on creating and querying database objects from R.

<hr>

## Authors

*   [Rav Ahuja](https://ca.linkedin.com/in/rav-ahuja-8aa4562a?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork23619267-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork-23619267&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)
*   [Agatha Colangelo](https://www.linkedin.com/in/agathacolangelo?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork23619267-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork-23619267&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)
*   [Sandip Saha Joy](https://www.linkedin.com/in/sandipsahajoy?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork23619267-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork-23619267&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

## Contributor(s)

<h4> D.M.NAIDU </h4>

## Changelog

| Date (YYYY-MM-DD) | Version | Changed By                   | Change Description                  |
| ----------------- | ------- | ---------------------------- | ----------------------------------- |
| 2022-03-03        | 2.0     | D.M. Naidu                   | Converted intial version to RSQLite |
| 2021-01-22        | 2.0     | Sandip Saha Joy              | Created revised version of the lab  |
| 2017              | 1.0     | Rav Ahuja & Agatha Colangelo | Created initial version of the lab  |

<hr>

<h2 align=center><font size = 5>Copyright &copy; IBM Corporation 2017-2022. All rights reserved.</h2>